@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .overflow-hidden {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
  }
}

.ProseMirror .is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}
.ProseMirror .is-empty::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}

/* Custom image styles */

.ProseMirror img {
  transition: filter 0.1s ease-in-out;

  &:hover {
    cursor: pointer;
    filter: brightness(90%);
  }

  &.ProseMirror-selectednode {
    outline: 3px solid #5abbf7;
    filter: brightness(90%);
  }
}

/* Custom TODO list checkboxes – shoutout to this awesome tutorial: https://moderncss.dev/pure-css-custom-checkbox-style/ */

ul[data-type="taskList"] li > label {
  margin-right: 0.2rem;
  user-select: none;
}

@media screen and (max-width: 768px) {
  ul[data-type="taskList"] li > label {
    margin-right: 0.5rem;
  }
}

ul[data-type="taskList"] li > label input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  cursor: pointer;
  width: 1.2em;
  height: 1.2em;
  position: relative;
  top: 5px;
  border: 2px solid black;
  margin-right: 0.3rem;
  display: grid;
  place-content: center;

  &:hover {
    background-color: #f8f9fa;
  }

  &:active {
    background-color: #e9ecef;
  }

  &::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em;
    transform-origin: center;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

  &:checked::before {
    transform: scale(1);
  }
}

ul[data-type="taskList"] li[data-checked="true"] > div > p {
  color: #a8a29e;
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }
}

* {
  @apply border-border;
}

body {
  @apply bg-background text-foreground;
}

.rjsf {
  @apply px-4;
}

.rjsf .form-group {
  @apply flex flex-col;
}

.rjsf .form-group label {
  @apply text-xs font-medium;
}

.rjsf .form-group input {
  @apply mt-1 rounded-sm border-foreground/20 px-2 py-1 text-xs shadow-sm focus:border-primary focus:outline-none focus:ring-primary;
}

.ql-toolbar.ql-snow {
  @apply rounded-t-md border-border bg-background !important;
}

.ql-container.ql-snow {
  @apply rounded-b-md bg-background !important;
}

.btn.btn-info.btn-add.col-xs-12 {
  @apply h-5 w-5 bg-blue-500 text-white;
}

.placeholderContainer {
  @apply relative;
}

.rjsf .form-group select {
  @apply mt-1 rounded-md border-foreground/20 px-2 py-1 text-xs shadow-sm focus:border-primary focus:outline-none focus:ring-primary;
}

.rjsf > div > button[type="submit"] {
  @apply hidden;
}

.rjsf > .form-group > fieldset > * {
  @apply border-b border-border pb-3 pt-1;
}

.rjsf .form-group > .checkbox > label > span {
  @apply mt-1;
}

.rjsf .form-group > .checkbox > label {
  @apply flex items-center gap-x-2;
}

.rjsf .form-group > textarea {
  @apply mt-1 rounded-sm border-foreground/20 px-2 py-1 text-xs shadow-sm focus:border-primary focus:outline-none focus:ring-primary;
}

.form-group > fieldset {
  @apply space-y-2;
}

.array-item-list .array-item {
  @apply relative rounded border border-foreground/20 px-2 pb-6 pt-2;
}

.array-item-list {
  @apply space-y-6;
}

.array-item-toolbox > .btn-group {
  @apply absolute -bottom-4 -left-px z-50 h-7 w-max divide-x divide-gray-300 rounded border border-gray-300 bg-white font-serif;
}
.array-item-toolbox > .btn-group > .btn {
  @apply flex h-7 w-8 cursor-pointer items-center justify-center text-xs hover:scale-90;
}
.btn.btn-danger.array-item-remove::before {
  @apply text-sm text-red-500 content-['✖'];
}
.btn.btn-default.array-item-move-up::before {
  @apply rotate-90 text-gray-900 content-['⬅'];
}
.btn.btn-default.array-item-move-down::before {
  @apply -rotate-90 text-gray-900 content-['⬅'];
}

.array-item-add {
  @apply relative max-h-7 overflow-hidden bg-transparent bg-white;
}
.btn.btn-info.btn-add::before {
  @apply absolute right-0 top-0 flex h-7 w-14 items-center justify-center overflow-hidden rounded-md bg-blue-500 text-base font-black content-['＋'] hover:bg-blue-600;
}

#layers-view > div[data-radix-scroll-area-viewport] > div {
  @apply h-full pt-2;
}
